body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#container {
    display: flex;
    border: solid black 3px;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 500px;
    height: 500px;
}
#header {
    background-color: rgb(83, 79, 79);
    display: flex;
}
.sizeMenu, .colorMenu {
    background-color: rgb(226, 222, 222);
    border: solid black;
    display: none;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin: 0 20px;
}
.sizeMenu button, .colorMenu button {
    background-color: rgb(226, 222, 222);
    margin: 10px;
    font-size: large;
}
.sizeMenu button:hover, .colorMenu button:hover {
    background-color: white;
}
.button {
    background-color: rgb(83, 79, 79);
    color: white;
    width: 87.92px;
    font-size: larger;
    margin: 0 20px;
}
.button:hover {
    background-color: white;
    color: black;
}
button {
    cursor: pointer;
}