body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#container {
    display: flex;
    border: solid black 3px;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 500px;
    height: 500px;
}
#container div {
    border: solid black 1px;
}